<div class="container">
    <div class="add">
        <div class="add__field">
            <label for="word">Word/Phrase</label>
            <input type="text" class="add__input" id="word">
        </div>
        <div class="add__field">
            <label for="meaning">Meaning</label>
            <input type="text" class="add__input" id="meaning">
        </div>
        <button class="add__button">Add</button>
    </div>
    <div class="words">
        <h3 class="words__title">All Words/Phrases</h3>
        <ul class="words__list">
            <li class="words__item" *ngFor="let item of words$ | async; trackBy: trackBy">
                {{ item.word}} - {{ item.meaning}}
            </li>
        </ul>
    </div>
</div>