<header class="header container">
    <div class="header__logo">
        Language App
    </div>
    <div class="header__nav nav">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link">Learn</a></li>
            <li class="nav__item"><a class="nav__link">Dictionary</a></li>
            <li class="nav__item"><a class="nav__link">Vocablulary List</a></li>
            <li class="nav__item"><a class="nav__link">Test Prep</a></li>
        </ul>
    </div>
    <div class="header__account account">
        <div class="account__image"></div>
        <div class="account__score">9567</div>
        <div class="account__name">Taras</div>
    </div>
</header>